[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==2.2.2"
flask-sqlalchemy = "==3.0.3"
flask-migrate = "==4.0.0"
flask-bcrypt = "==1.0.1"
marshmallow = "==3.20.1"
faker = "==15.3.2"
werkzeug = "==2.2.2"

[dev-packages]

[requires]
python_version = "3.12"
